<!DOCTYPE html>
    <html>
        <head>
            <title>Expenses</title>
        </head>

        <body>
            <h1>Expenses Page</h1>
            <p>This is where you'll track your expenses.</p>
            <h1>Total Expenses: ${{ total_expenses }}</h1>
            <p>Food: ${{ foodTotal }}</p>
            <p>Subscriptions: ${{ subTotal }}</p>
            <p>Golf (Rounds): ${{ golfRTotal }}</p>
            <p>Golf (Purchases): ${{ golfPTotal }}</p>
            <p>Golf (Events): ${{ golfETotal }}</p>
            <p>Gigi: ${{ gigiTotal }}</p>
            <p>Laundry: ${{ laundryTotal }}</p>
            <a href="/"><button>Back to Home</button></a>
        </body>
    </html>
